{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" class="fos_user_registration_register form-signin wow fadeInUp" method="POST">
    <h2 class="form-signin-heading">Register now</h2>
    <div class="login-wrap">
        <p>Enter personal details</p>

            <div class="form-group" id="fos_user_registration_form">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans, 'autofocus':'' } }) }}
                {{ form_errors(form.email) }}

                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans, 'autofocus':'' } }) }}
                {{ form_errors(form.username) }}

                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans, 'autofocus':'' } }) }}
                {{ form_errors(form.plainPassword.first) }}

                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans, 'autofocus':'' } }) }}
                {{ form_errors(form.plainPassword.second) }}

                {{ form_rest(form) }}

            </div>
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-login btn-block" type="submit" value="{{ 'registration.submit'|trans }}">Submit</button>
        <!--<input type="submit" value="{{ 'registration.submit'|trans }}" />-->
        <div class="registration">
            Already Registered ?
            <a class="" href="/login">
                Login
            </a>
        </div>
    </div>
</form>